.custom-bg{
    background-color: #000957 !important;
}

.custom-color{
    color: #000957 !important;
}

.custom-form {
    width: 100% !important;
    margin: auto !important;
    padding: 2rem !important;
    border: 1px solid rgba(167, 160, 160, 0.5);
    border-radius: 0.25rem !important;
}

.custom-font-size{
    font-size: 14px !important;
}
  
  /* Medium Screens and larger (>=768px) */
  @media (min-width: 768px ) {
    .custom-form {
      width: 500px !important; /* 50% width on medium and larger screens */
      padding: 3rem 4rem !important;
    }
    
}

@media (min-width: 992px ) {
    .custom-form {
      width: 500px !important; /* 50% width on medium and larger screens */
      padding: 3rem 4rem !important;
    }
    
}